<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.winorout.followme">

    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" >
    </uses-permission>

    <application
        android:name="com.winorout.app.FollowApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".personalCenter.AlarmActivity">

        </activity>
        <activity android:name=".FollowActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".sports.GetSetpService" >
        </service>
        <service android:name="com.winorout.connect.MobileMessageService"></service>

        <receiver
            android:name=".personalCenter.AlarmReceiver"
            android:process=":remote" >
        </receiver>
        <activity android:name=".personalCenter.Historcal" >
        </activity>
        <activity android:name=".personalCenter.Exercise" >
        </activity>
        <activity android:name=".personalCenter.Setting" >
        </activity>
        <activity
            android:name=".personalCenter.SettingTime"
            android:label="SettingTime" >
        </activity>
        <activity android:name=".personalCenter.DeviceInfoActivity"/>
    </application>

</manifest>